<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/Assets/favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../Assets/css/animate.min.css">
    <link rel="stylesheet" href="../Assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../Assets/css/owl.theme.default.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Assets/css/layout.css">
    <link rel="stylesheet" href="../Assets/css/responsive.css">
    <title>Moody Fox</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="mob-menu">
                        <img src="~/Assets/img/option icon.png" alt="">
                    </div>
                    <a class="navbar-brand wow animate__animated animate__fadeInDown" href="/">
                        <img src="~/Assets/img/Logo_header.png" alt="">
                        <span>
                            <big>MOODY <tag class="text-primary">FOX</tag></big>
                            <small>PRODUCTIONS</small>
                        </span>
                    </a>
                    <div class="collapse navbar-collapse  wow animate__animated animate__fadeInUp"
                         id="navbarSupportedContent">
                        <div class="mob-menu">
                            <img src="~/Assets/img/close.png" width="20" alt="">
                        </div>
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                    SERVICES
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/services/2DAnimation">2D Animation</a></li>
                                    <li><a class="dropdown-item" href="/services/3DAnimation">3D Animation</a></li>
                                    <li><a class="dropdown-item" href="/services/3DProductVideos">3D Product Videos</a></li>
                                    <li><a class="dropdown-item" href="/services/ExplainerVideos">Explainer Videos</a></li>
                                    <li><a class="dropdown-item" href="/services/MotionGraphics">Motion Graphic Videos</a></li>
                                    <li><a class="dropdown-item" href="/services/eLearningVideos">E-Learning Videos</a></li>
                                </ul>
                            </li>
                            @*<li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        OUR PROCESS
                                    </a>
                                </li>*@
                            <li class="nav-item">
                                <a class="nav-link" href="/blog">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link contactmenu" href="javascript:void(0)">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        @RenderBody()
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="footer-logo text-center">
                            <a href="/home" class="wow animate__animated animate__fadeInUp">
                                <img class="img-fluid" src="~/Assets/img/foot-logo.png" alt="logo">
                                <p class="footer-logo-text">Moody Fox Productions</p>
                            </a>
                            <ul class="socialIcons">
                                <li class="wow animate__animated animate__fadeInUp"><a href="@Html.Raw("https://www.linkedin.com/company/moody-fox-productions")"><img class="img-fluid" src="~/Assets/img/linkedin_2504923.png" alt=""></a></li>
                                <li class="wow animate__animated animate__fadeInUp"> <a href="@Html.Raw("https://www.instagram.com/moodyfoxproductions")"><img class="img-fluid" src="~/Assets/img/instagram_2504918.png" alt=""></a></li>
                                <li class="wow animate__animated animate__fadeInUp"><a href="@Html.Raw("https://www.facebook.com/moodyfoxproductions")"><img class="img-fluid" src="~/Assets/img/facebook_2504903.png" alt=""></a></li>
                                <li class="wow animate__animated animate__fadeInUp"><a href="@Html.Raw("https://www.youtube.com/@moodyfoxproductions")" target="_blank"><img class="img-fluid" src="~/Assets/img/youtube_2504965.png" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 offset-md-2 ">
                        <div class="foot-menu d-flex flex-wrap row">
                            <div class="col">
                                <h5 class="footheading wow animate__animated animate__fadeInUp">Our Company</h5>
                                <ul>
                                    <li class="wow animate__animated animate__fadeInUp"><a href="/services/2DAnimation">Services</a></li>
                                    @*<li class="wow animate__animated animate__fadeInUp"><a href="">Work Process</a></li>*@
                                    <li class="wow animate__animated animate__fadeInUp"><a href="">Blog</a></li>
                                    <li class="wow animate__animated animate__fadeInUp"><a href="/faq">FAQ</a></li>
                                </ul>
                            </div>
                            <div class="col">
                                <h5 class="footheading wow animate__animated animate__fadeInUp">Contact us</h5>
                                <ul>
                                    <li class="wow animate__animated animate__fadeInUp">
                                        <a href="tel:+91-7304071081">
                                            <img src="~/Assets/img/foot-call.png" alt="Call">
                                            +91-7304071081
                                        </a>
                                    </li>
                                    <li class="wow animate__animated animate__fadeInUp">
                                        <a href="mailto:moodyfoxproductions@gmail.com">
                                            <img src="~/Assets/img/foot-mail.png"
                                                 alt=""> moodyfoxproductions@gmail.com
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copy-right">
                    <p>Moody Fox Productions. All Rights Reserved..</p>
                </div>
            </div>
        </footer>

        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script src="~/Assets/js/bootstrap.min.js"></script>
        <script src="~/Assets/js/wow.min.js"></script>
        <script src="~/Assets/js/owl.carousel.js"></script>
        <script src="~/Assets/js/layout.js"></script>

        <script>

            $(document).ready(function () {
                $('.banner').owlCarousel({
                    items: 1,
                    lazyLoad: true,
                    loop: true,
                    margin: 10

                })

                new WOW().init();

            });
        </script>
    </div>
</body>

</html>